*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.header{
    background-color: #8a8a8a;
    padding: 1.2rem;
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.header img{
    width: 10rem;
}

.header nav ul{
    list-style-type: none ;
    display:flex;
    justify-content: center;
    padding: 1rem;
}

.header nav ul a{
    color:white;
    text-decoration: none;
    padding: 2rem;
}

.header nav ul li:last-child a{
    color:white;
    background-color: lightblue;
    text-decoration: none;
    padding: 2rem;
    border-radius: 0.8rem;
}

.header nav ul a:hover{
    background-color: #414141;
    color:black;
}

.main{
    background-color: white;
    padding: 1.2rem;
    grid-area: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentacion {
    padding-right: 15%;
    display: flex;
    flex-direction: row;
}

.descripcion{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descripcion h2{
    font-size: 3.5rem;
    color:blue;
    text-align: left;
}
.descripcion p{
    font-size: x-large;
    color: grey;
    line-height: 1.5;
    text-align: left;
}

.main img{
    border-radius: 10px;
}

.tecnologias {
    background-color: lightblue;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
     
}
.tecnologias h3 {
    font-size: x-large;
    text-align: center;
    padding-bottom: 1rem;
}

.tecnologias-hijo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tecnologias-hijo img{
    height: 9rem;
    width: auto ;
    
}

.opinion {
    height: 5rem;
    width: 100%;
    margin: 3rem;

    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.opinion p{
    font-size: large;
}
.opinion h3 {
    font-size: x-large;
}

.footer {
    height: 8rem;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.seguinos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.redes {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: "face insta"
			 "twitter linkedin";
}


.seguinos img{
    width: 2rem;
    height: auto;
}

.about-us {
    margin-top: 1rem;
}